!!!
{% load static %}

%html
  %head
    %script{:type => 'text/javascript', :src => "{% static 'jquery/dist/jquery.js' %}"}
    %link{:href => "{% static 'bower-foundation/css/foundation.css' %}", :rel => "stylesheet"}

    %script{:type => 'text/javascript', :src => "{% static 'bower-foundation/js/foundation/foundation.js' %}"}
    %script{:type => 'text/javascript', :src => "{% static 'bower-foundation/js/foundation/foundation.topbar.js' %}"}
    %script{:type => 'text/javascript', :src => "{% static 'bower-foundation/js/foundation/foundation.dropdown.js' %}"}
    %script{:type => 'text/javascript', :src => "{% static 'bower-foundation/js/foundation/foundation.section.js' %}"}
        
    %title
      This is the title

  %body
    {% block body %}
    {% endblock %}