!!!
{% load static %}

%html
  %head
    %link{:href => "{% static 'bower-foundation/css/foundation.css' %}", :rel => "stylesheet"}
    %link{:href => "{% static 'bower-foundation/css/normalize.css' %}", :rel => "stylesheet"}

    %script{:type => 'text/javascript', :src => "{% static 'jquery/dist/jquery.js' %}"}
    %script{:type => 'text/javascript', :src => "{% static 'bower-foundation/js/foundation.min.js' %}"}
        
    %title
      This is the title

  %body
    {% block body %}
    {% endblock %}
    %script
      $(document).foundation();