!!!
{% load static %}

%html
    %head
        %script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'
        
        %title
            This is the title

    %body
        {% block content %}
        {% endblock %}