{% extends "base.html" %}

{% block body %}

/ Header and Nav
%nav.top-bar{'data-topbar':None}
  %ul.title-area
    %li.name
      %h1
        %a{'href':'#'} Pong.io
    %li.toggle-topbar.menu-icon
      %a{'href':'#'} Menu

  %section.top-bar-section
    %ul.right
      %li.active
        %a{'href':'#'} Right Button Active
      %li.has-dropdown
        %a{'href':'#'} Right Button Dropdown
        %ul.dropdown
          %li
          %a{'href':'#'} First link in dropdown
    %ul.left
      %li
        %a{'href':'#'} Left Nav Button

/ Main Grid Section 
.row
  .large-3.columns
    .panel
      %h5  Panel Title
      %p This is a three columns grid panel with an arbitrary height.
    
  .large-6.columns
    .panel
      %h5  Panel Title
      %p This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.
  
  .large-3.columns
    .panel
      %h5 Panel Title
      %p This is a three columns grid panel with an arbitrary height.</p>

.row
  .large-6.columns
    .panel
      %h5 Panel Title
      %p This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.

  .large-2.columns
      .panel
        %p
          %img{'src':'http://placehold.it/200x200'}

  .large-4.columns
      .panel
        %h5 Panel Title
        %p This is a four columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami.

.row
  .large-6.columns
    .panel
      %h5 Panel Title
      %p This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.

  .large-3.columns
    .panel
      %h5 Panel Title
      %p This is a three columns grid panel with an arbitrary height.

  .large-3.columns
    .panel
      %h5 Panel Title
      %p This is a three columns grid panel with an arbitrary height.
 
  / End Grid Section 
 
  / Footer 
  %footer.row
    .large-12.columns
      %hr
      .row
        .large-6.columns
          %p © 2014 Pong.io
        .large-6.columns
          %ul.inline-list.right
            %li
              %a{'href':'#'} Section 1
            %li
              %a{'href':'#'} Section 2
            %li
              %a{'href':'#'} Section 3
            %li
              %a{'href':'#'} Section 4


{% endblock body %}