/ Header and Nav
.fixed
  %nav.top-bar{'data-topbar':None}
    %ul.title-area
      %li.name
        %h1
          %a{'href':'#'} Pong.io
      %li.toggle-topbar.menu-icon
        %a{'href':'#'} Menu

    %section.top-bar-section
      %ul.right
        %li.divider
        %li.active
          %a{'href':'#'} Right Button Active
        %li.has-dropdown
          %a{'href':'#'} Right Dropdown
          %ul.dropdown
            %li
              %a{'href':'#'} First link in dropdown
            %li
              %a{'href':'#'} Another link in dropdown
