{% extends "base.haml" %}

{% block body %}

{% include "nav.haml" %}

.row
  .large-12.columns
    %h3 Asks

{% for ask in object_list %}
.row
  .large-8.columns
    .panel
      {{ ask.body }}
{% endfor %}


{% endblock %}
